---
layout: default
---

<section id='tribute-add' class='center-box-container visible'>
  {% include logo.html %}

  <small class='heading accent spacer-2 push-2'>ghi lời tri ân</small>
  <h1 class='squeeze-1'>add a tribute</h1>

  {% include input.html class='spacer-1' name='name' label='Your name' enabled=1 %}
  {% include input.html class='spacer-2' name='phone' type='tel' label='Mobile phone' enabled=1 %}
  {% include input.html class='message-box spacer-2' name='message' label='Your tribute message' enabled=1 textarea=1 %}

  {% include button.html label='Add' dataId='tribute-add' onclick='add(this)' class='spacer-4' %}
</section>

<script src='/assets/js/tribute-add.js'></script>
