<div class='spacer-2 push-2'>
  {% for item in include.info -%}
    {% if item.href -%}
      {% if item.emphasized -%}
        {% assign em = 'emphasize' -%}
      {% else -%}
        {% assign em = '' -%}
      {% endif -%}
      <a class='menu-item' href='{{ item.href }}' title='{{ item.label }}'>
        <span class='special {{em}}'>{{ item.label }}</span>
        {% if item.alt -%}
          <span class='alternate'>{{ item.alt }}</span>
        {% endif -%}
      </a>
    {% else -%}
      <span class='menu-item'>
        <span class='special {{em}}'>{{ item.label }}</span>
        {% if item.alt -%}
          <span class='alternate'>{{ item.alt }}</span>
        {% endif -%}
      </span>
    {% endif -%}
  {% endfor -%}
</div>
